EXP_DIR=/Users/xiangxigao/Desktop/git/droplet-phenotyping/Experiments
DB_DIR=/Users/xiangxigao/Desktop/git/droplet-phenotyping/Droplet_db
MODEL_DIR=/Users/xiangxigao/Desktop/git/droplet-phenotyping/CNN_models
batch_size=1024
expID_pattern='[A-Z]{2,4}_[A-Z0-9]{2,4}_[0-9]{3}'
